/* Small devices (landscape phones, 576px and up) */
@media (max-width:  576px) { 
    .card-h {
        flex-direction: column;
    }
    .card-h img {
        max-width: 80px;
        max-height: 80px;
    }
    .card-h .card-content {
        text-align: center;
        font-size: 1em;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }